
*{
    margin:0;
    padding:0;
    color:#864000
}
/* html, body {
    height: 100%;
    width: 100%;
} */

body{
    padding-bottom:30px;
}
h1{
    text-align: center;
    font-size: 4rem;
    font-family: 'Kaushan Script', cursive;
    background: rgb(240, 143, 52);
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:black;  
}
.main{
    background: rgb(240, 143, 52);
}
.sectionOne{
   text-align: center;  
}
.heading{
    padding:1em 0;
    font-size: 3em;
    font-family: 'Kaushan Script', cursive;
}
.surprise{
    padding-bottom: .25rem;
    color:purple;
}
.info{
    padding-bottom:1em;
}
.details{
    font-family: 'Kaushan Script', cursive;
    font-size:2em;
}
p{
    padding-top:1em;
    padding-left:100px;
    font-weight: bold;
    font-size:1.25em;
}
.bottomInfo{
    background: rgb(240, 143, 52);
}
.flex-container{
    display: flex;
    padding:0; 
   justify-content: center;
}
.spider{
   margin-left:55px;
   margin-right:20px; 
}
.image{
    margin-left:75px;
}
.cake{
    margin-bottom: 100px;
}
.nelson{
    border-radius:5px;
    margin-right:50px;
    margin-top:50px;
}
.bottomTextBkgrd{
    background-color: rgba(246, 190, 36, 0.89);
    position: relative;
}
.bottomImage{
    position: absolute;
    z-index:0;
    opacity: 0.2;
    top:40px;
    left:30px;
}
.topPadding{
    padding-top:7em;
}
.bottomPadding{
    padding-bottom:18em;
}
.cauldron{
   position: absolute;
   right:150px;
   bottom:400px;
   
}

@media(max-width :800px){
    h1{
        font-size:2.5rem;
    }
    .main{
        background-image: none;
    }
    body{
        background-color: rgb(246, 167, 40);;
    }
    .heading{
        padding:.25em;
    }
    .info{
        padding-bottom: .25rem;
    }
    p{
        padding-left:20px;
    }
    .flex-container{
        display: flex;
        padding:0; 
    }
    .flex-item{
        flex-direction: column;
        
    }
    .image{
        display: inline;
        margin-left:10px;
    }

    img {
        width: 100%;
        max-height: 40vh;
        min-width: 0;
    }
   
    .surprise{
        padding-bottom: .55rem;
        color:purple;
    }
    div{
        height:50%
    }
    .mobile{
        display: none;
    }
    .topPadding{
        padding-top:1em;
    }
    .bottomPadding{
        padding-bottom: 1em;
    }
}